.nav {
  align-items: center;
  background-color: white;
  box-shadow: 1px 4px 6px -1px rgb(0 0 0 / 0.1), 1px 2px 4px -2px rgb(0 0 0 / 0.1);
  display: flex;
  height: 55px;
  padding-left: 1rem;
  width: 100%;
}